@model SNT.ViewModels.Review.OrderReviewViewModel

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Review</h1>

<div>
    <h4>OrderReviewViewModel</h4>
    <hr />
    <dl class="col justify-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
    </dl>
    <div class="col justify-content-center">
        <p>Tyres</p>
        <div class="col-md-4">
            @foreach (var tyre in Model.Tyres)
            {
                <p>@tyre.Model</p>
                <p>@tyre.Brand</p>
                <p>@tyre.Price</p>
                <p>@tyre.Quantity</p>
            }
        </div>
        <p>WheelRims</p>
        <div class="col-md-4">
            @foreach (var wheelRim in Model.WheelRims)
            {
                <p>@wheelRim.Model</p>
                <p>@wheelRim.Brand</p>
                <p>@wheelRim.Price</p>
                <p>@wheelRim.Quantity</p>
            }
        </div> 
        <p>Motor Oils</p>
        <div class="col-md-4">
            @foreach (var motorOil in Model.MotorOils)
            {
                <p>@motorOil.Model</p>
                <p>@motorOil.Brand</p>
                <p>@motorOil.Price</p>
                <p>@motorOil.Quantity</p>
            }
        </div>
    </div>
</div>

