@model SNT.ViewModels.Home.ShoppingBagHomeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
        
}

<h1>ShoppingBag</h1>

<h4>ShoppingBagHomeViewModel</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        @foreach (var tyre in Model.Tyres)
        {
            <p><img class="img-thumbnail product-image" src="@tyre.Picture" alt="..."> </p>
            <p>@tyre.Model</p>
            <p>@tyre.Brand</p>
            <p>@tyre.Price</p>
            <p>@tyre.Quantity</p>

            <form id="quantity-form" action="EditTyreQuantity" controller="ShoppingBag" method="POST">
                <label asp-for="@tyre.Quantity" class="control-label"></label>
                <input asp-for="@tyre.Quantity" class="form-control" name="quantity" />
                <input type="hidden" value="@tyre.Id" name="bagTyreId" />
                <input type="submit" value="Update Quantity" class="btn btn-primary" />
            </form>
        }
    </div>
    <div class="col-md-4">
        @foreach (var wheelRim in Model.WheelRims)
        {
            <p><img class="img-thumbnail product-image" src="@wheelRim.Picture" alt="..."> </p>
            <p>@wheelRim.Model</p>
            <p>@wheelRim.Brand</p>
            <p>@wheelRim.Price</p>
            <p>@wheelRim.Quantity</p>

            <form id="quantity-form" action="EditWheelRimQuantity" controller="ShoppingBag" method="POST">
                <label asp-for="@wheelRim.Quantity" class="control-label"></label>
                <input asp-for="@wheelRim.Quantity" class="form-control" name="quantity" />
                <input type="hidden" value="@wheelRim.Id" name="bagWheelRimId" />
                <input type="submit" value="Update Quantity" class="btn btn-primary" />
            </form>
        }
    </div>
</div>
<h2 class="text-primary" id="total-price">Total: @Model.Sum().ToString("F2")</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p><a href="/Order/Create">Proceed to checkout</a></p>



@*<script>
    $('#quantityvalue').change(function () {
        $('#quantity-form').submit();
    });
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}